form input {
  border: lightblue solid;
  width: 100%;
}

form select {
  border: lightblue solid;
  width: 100%;
}
.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
form label {
  font-weight: bold;
  background: linear-gradient(45deg, #00f2fe, #7f00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleAdd {
  color: #00f2fe;
}

.input-container {
  width: 100%;
  gap: 10px;
  justify-content: center;
}
.form-container {
  display: flex;
  justify-content: center;
}

/* errors */
.error {
  background-color: rgba(255, 0, 0, 0.459);
  padding: 10px;
  border: red solid;
  text-align: center;
  animation: popUpBounce 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes popUpBounce {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
