.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.spaceGrotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #0d1117;
  color: #f0f6fc;
}
.ColorMain {
  background: linear-gradient(45deg, #00f2fe, #7f00ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Container */
.containerBase {
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 90px;
}
.ComparatorContainer {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 90px;
}
/* Medias */
@media screen and (max-width: 430px) {
  .containerBase {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 298px) {
  .containerBase {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 120px;
  }
}
@media screen and (max-width: 700px) {
  .ComparatorContainer {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 120px;
  }
}

/* Favourites button */
.favouritestar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  left: auto;
  top: auto;
  background-color: rgb(33, 162, 194);
  padding: 5px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: rgb(5, 21, 26);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
.favouritestar:hover {
  transform: scale(1.2);
}
