.SmartphoneCard {
  border: 1px black solid;
  color: white;
  padding: 15px;
  background-color: #1b2330;
}

/* Buttons */
.seeMoreButton {
  border: purple solid 2px;
  color: purple;
  background-color: transparent;
}
.seeMoreButton:hover {
  background-color: purple;
  color: white;
  transition: background-color 500ms linear;
  transition: color 200ms linear;
}

/* button 2 */
.NavigateButton {
  border: lightblue solid 2px;
  color: lightblue;
  background-color: transparent;
}
.NavigateButton:hover {
  background-color: lightblue;
  color: black;
  transition: background-color 500ms linear;
  transition: color 200ms linear;
}
/* Detialed */

.phoneImg {
  width: 300px;
  border: solid 2px rgb(72, 122, 168);
}
.containerInfoPhone {
  gap: 15px;
}
.titleSpan {
  color: lightblue;
  font-weight: bold;
}

/*  */
/* Buttons for order */
.OrderButton {
  border: solid purple 2px;
  padding: 10px;
  background-color: #1b2330;
  min-width: 90px;
  cursor: pointer;
}
.searchbar {
  height: 30px;
}

/* star */
.star {
  position: absolute;
  left: 88%;
  top: 0%;
  cursor: pointer;
  color: yellow;
}
